<div class="container">
  <h1>App Clima</h1>

  <div class="search-box">
    <input type="text" placeholder="Escribir Ciudad" [(ngModel)]="city" />
    <button (click)="getWeatherByCity()">Obtener Clima</button>
  </div>

  <div class="weather-container" *ngIf="weather">
    <div class="left-section">
      <div class="weather-info">
        <h2>Detalles del Clima</h2>
        <p><strong>Descripción:</strong> {{ weather.weather[0].description }}</p>
        <p><strong>Humedad:</strong> {{ weather.main.humidity }}%</p>
        <p><strong>Vel. Viento:</strong> {{ weather.wind.speed }} m/s</p>
        <p><strong>Dirección del Viento:</strong> {{ weather.wind.deg }}°</p>
        <p><strong>Presión Atmosférica:</strong> {{ weather.main.pressure }} hPa</p>
        <p><strong>Sensación Térmica:</strong> {{ weather.main.feels_like }}°C</p>
        <p><strong>Visibilidad:</strong> {{ weather.visibility / 1000 }} km</p>
      </div>
      <h2>Localidad:</h2>
      <h3 class="location-name">{{ weather.name }}</h3>
      <p><strong>Amanece:</strong> {{ convertUnixTime(weather.sys.sunrise) }}</p>
      <p><strong>Oscurece:</strong> {{ convertUnixTime(weather.sys.sunset) }}</p>
    </div>
    <div class="separator"></div>
    <div class="right-section">
      <p class="temperature">{{ weather.main.temp }}°C</p>
      <img [src]="getWeatherIcon(weather.weather[0].icon)" alt="weather icon" />
    </div>
  </div>
</div>
