html,
body {
    height: 100%;
}

html {
    overflow-y: hidden;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-image: url('/clima.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

